<div>
    <h2>Leave a Comment</h2>
</div>

<div>
    <form class="card-body enew-post-form" id="comment-form">
        <div>
            <textarea class="form-label" for="content" id='content' cols="60" rows="10"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-sm" id='subBtn'>Submit</button>
        </div>
    </form>
</div>

<script src="/js/comment.js"></script>