<div class="card p-3">
    <div>
        <p>Are you sure you want to delete this post?</p>
    </div>
    <div class="">
        <a href="/dashboard"><button class="btn btn-primary btn-sm">No</button></a>
        <button class=" btn btn-primary btn-sm yes">Yes</button>
    </div>
</div>
<script src="/js/delete.js"></script>